* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: #00008B;
}

.photo-image {
    width: 70%;
}

@media only screen and (min-width: 768px) {
    .main-container {
        display: flex;
        align-items: center;
    }

    .main-container {
        height: 100vh;
    }
}

@media only screen and (max-width: 768px) {
    .col-md-6 {
        display: flex;
        justify-content: center;
    }

    .text-col {
        padding-top: 30px;
    }
}